.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 200;
    gap: 2rem;
    width: 30%;
    .about-info-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      img {
        width: 80%;
        border-radius: var(--round-border-radius);
      }
    }
    .about-info-contact {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 1rem;
      button {
        width: 100%;
      }
      .social-network {
        display: flex;
        gap: 2rem;
        a {
          transition: transform 0.5s ease;
          img {
            width: 2rem;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .about-description {
    flex-grow: 2;
    flex-basis: 400;
    width: 65%;
  }
}

/* Smartphone */
@media (max-width: 576px) {
  .about {
    .about-info {
      flex-direction: column;
      .about-info-avatar {
        img {
          width: 50%;
        }
      }
    }
  }
}

/* Tablette */
@media (min-width: 577px) and (max-width: 914px) {
  .about {
    .about-info {
      flex-wrap: wrap;
      flex-direction: row;
      .about-info-avatar {
        flex-grow: 2;
        width: 40%;
        img {
          width: 55%;
        }
      }
      .about-info-contact {
        flex-grow: 2;
        width: 40%;
      }
    }
    .about-description {
      width: 100%;
    }
  }
}
