.home-header {
  background-color: var(--background-color-home);
  height: 90vh;
  h1 {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 200;
    text-shadow: 0 0 40px var(--main-color);
  }
}
