@font-face {
  font-family: "Comforta";
  src: url(./assets/fonts/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: "IBMPlex";
  src: url(./assets/fonts/IBMPlexSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* colors */
  --main-color: #89608e;
  --main-color-opacity: rgba(137, 96, 142, 0.9);
  --secondary-color: #89608e;
  --background-color: rgba(229, 239, 248, 0.6);
  --background-color-opacity: white;
  --text-color: #2c0703;
  /* fonts */
  --title-font: "IBMPlex";
  --text-font: "Comforta";
  /* borders */
  --main-border-radius: 10px;
  --round-border-radius: 100%;
  /* shadows */
  --box-shadow: 5px 5px 15px -5px #000000;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  color: var(--background-color);
  font-family: var(--title-font);
  font-size: 2rem;
}

h2 {
  width: 70%;
  margin: 2rem auto;
  text-align: center;
  color: var(--main-color);
  font-family: var(--title-font);
  font-size: 2rem;
}

h3 {
  color: var(--main-color);
  font-family: var(--title-font);
  font-size: 1.2rem;
}

p,
a {
  color: var(--text-color);
  font-family: var(--text-font);
}

body {
  background-image: url(./assets/images/scott-webb-OxHPDs4WV8Y-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.page-display {
  width: 70%;
  margin: auto;
}
