@font-face {
  font-family: "Comforta";
  src: url(./assets/fonts/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: "IBMPlex";
  src: url(./assets/fonts/IBMPlexSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* colors */
  --main-color: #89608e;
  --main-color-opacity: rgba(137, 96, 142, 0.9);
  --secondary-color: #89608e;
  --background-color: rgba(229, 239, 248, 0.6);
  --background-color-home: rgba(229, 239, 248, 0.8);
  --background-color-opacity: white;
  --text-color: #2c0703;
  /* fonts */
  --title-font: "IBMPlex";
  --text-font: "Comforta";
  --link-size: clamp(0.6rem, 2vw, 1.5rem);
  --paragraph-size: clamp(0.5rem, 1.5vw, 1rem);
  --paragraph-size-big: clamp(0.7rem, 2vw, 1.3rem);
  --header-title-size: clamp(0.8rem, 2vw, 2rem);
  --home-header-title-size: clamp(1.2rem, 3vw, 3rem);
  /* borders */
  --main-border: 1px solid var(--secondary-color);
  --main-border-radius: 10px;
  --round-border-radius: 100%;
  /* shadows */
  --box-shadow: inset 2px 2px 20px -20px #000000;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  color: var(--main-color);
  font-family: var(--title-font);
}

h2 {
  width: 70%;
  margin: 6rem auto 3rem auto;
  text-align: center;
  color: var(--main-color);
  font-family: var(--title-font);
  font-size: var(--header-title-size);
}

h3 {
  color: var(--main-color);
  font-family: var(--title-font);
  font-size: 1.2rem;
}

p,
a {
  color: var(--text-color);
  font-family: var(--text-font);
}
p {
  font-size: var(--paragraph-size);
}

body {
  background-image: url(./assets/images/scott-webb-OxHPDs4WV8Y-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.page-display {
  width: 70%;
  margin: auto;
}

.box {
  border-radius: var(--main-border-radius);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

.button-close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  top: 1%;
  right: 1%;
  font-family: var(--title-font);
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--round-border-radius);
  transition:
    transform 0.5s ease,
    background-color 3s ease;
}
.button-close-modal:hover {
  transform: rotate(180deg) scale(1.7);
  border: var(--main-border);
  background-color: var(--background-color);
}

header {
  box-shadow: 8px -2px 22px 0px #000000;
}

nav {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  a {
    font-size: 1.2rem;
    color: var(--main-color);
    transition: transform 0.5s ease;
  }
  a:hover {
    transform: scale(1.2);
  }
}

.background {
  position: fixed; /* Nécessaire pour positionner le pseudo-élément */
  overflow: hidden; /* Pour éviter tout débordement du pseudo-élément */
}

.background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: var(--background-color-home); /* Couleur de fond */
  opacity: 0.6; /* Ajuste l'opacité selon le besoin */
  z-index: 1; /* Assure-toi que cela soit en dessous de l'image d'arrière-plan */
}

.background {
  background-image: url(./assets/images/scott-webb-OxHPDs4WV8Y-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: 2; /* L'image est au-dessus du pseudo-élément */
}

.no-button {
  background: transparent;
  border: none;
  cursor: pointer;
}
