.picture-form-content {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  .logo-main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 30%;
    img {
      width: 70%;
      height: 10rem;
    }
  }

  .screenshot-image {
    width: calc(60% + 2rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
      text-align: center;
    }
    .screenshots {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      .recap-image {
        width: 30%;
        height: 10rem;
      }
    }
  }
}
.skills-preview-form {
  width: calc(60% + 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  padding: 1rem;
  margin: 1rem auto;
  .skill-by-category {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.recap-project-display {
  width: calc(60% + 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  padding: 1rem;
  margin: 1rem auto;
}

.avatar-image {
  width: calc(60% + 2rem);
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 30%;
    text-align: center;
  }
}
