.project-demo {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  .primary-image {
    width: 100%;
    height: 40rem;
  }
  .technics {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    .badges {
      border: var(--main-border);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      .badge {
        width: 45%;
      }
      .badge-link:hover {
        color: var(--main-color);
      }
    }
    .project-team-skills {
      .team,
      .skills {
        margin: 1rem 0;
      }
    }
  }
}
.project-description-organisation {
  padding: 1rem;
  margin: 2rem 0;
  .project-description {
    margin: 2rem 0;
  }
  .project-images {
    margin: 2rem 0;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    button {
      position: relative;
      box-shadow: var(--box-shadow);
      border-radius: var(--main-border-radius);
      background: none;
      border: none;
      overflow: hidden;
      transition:
        transform 1s ease,
        opacity 0.5s ease;
      img {
        border-radius: var(--main-border-radius);
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &:hover button {
      transform: scale(0.9);
      opacity: 0.6;
      z-index: 0;
    }
    button:hover {
      transform: scale(1.3);
      cursor: pointer;
      overflow: hidden;
      opacity: 1;
    }
  }
}

.Modal {
  position: absolute;
  top: 8%;
  left: 8%;
  right: 8%;
  bottom: 8%;
  background-color: var(--background-color-opacity);
  padding: 2rem;
  border-radius: var(--main-border-radius);
  border: var(--main-border);
  .image-modal {
    border-radius: var(--main-border-radius);
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
}

.Modal:focus {
  outline: none;
}
