.home-welcome {
  .welcome {
    margin: 3rem 0 5rem 0;
    font-size: var(--paragraph-size-big);
    text-align: center;
    .modify-button {
      width: 20%;
      margin-left: 40%;
    }
  }
  .welcome-admin {
    font-size: var(--paragraph-size-big);
    margin: 1rem 0;
  }
  .presentation {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: clamp(12rem, 16vw, 17rem);
    box-shadow: var(--box-shadow);
    margin: 2rem 0;
    border-radius: var(--main-border-radius);
    img {
      display: block;
      width: clamp(10rem, 20%, 15rem);
      height: 100%;
      border-radius: var(--round-border-radius);
      border: var(--main-border);
      box-shadow: 8px -2px 37px -17px #000000;
      float: left;
      shape-outside: circle(50%);
      z-index: 100;
      margin: 1rem;
      outline: 2px solid var(--background-color);
    }
    .presentation-title {
      font-size: var(--secondary-title-size);
    }
    .presentation-button {
      background: url(../../assets/images/scott-webb-OxHPDs4WV8Y-unsplash.jpg);
      background-size: cover;
      border: 1px solid var(--background-color);
      border-radius: 150% 5px 5px 150% / 100% 5px 5px 100%;
      height: clamp(12rem, 16vw, 17rem);
      width: 60%;
      margin: 0;
      color: var(--text-color);
      cursor: pointer;
      -webkit-box-shadow: -7px 5px 15px 5px #000000;
      box-shadow: -7px 0px 7px -2px #000000;
      text-decoration: underline;
      transition: all 0.3s ease;
      font-size: var(--paragraph-size);
      &:hover {
        width: 70%;
        background-color: var(--background-color);
        border-radius: 5px;
        position: absolute;
        right: 15%;
        font-size: var(--paragraph-size-big);
      }
    }

    .presentation-text {
      display: none;
    }
  }
  .title-home {
    margin: 20rem auto 2rem auto;
  }
}
