.home-welcome {
  .welcome {
    margin: 3rem 0 5rem 0;
    font-size: var(--paragraph-size-big);
    text-align: center;
    .modify-button {
      width: 20%;
      margin-left: 40%;
    }
  }
  .welcome-admin {
    font-size: var(--paragraph-size-big);
    margin: 1rem 0;
  }
  .presentation {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: clamp(12rem, 20vw, 17rem);
    box-shadow: var(--box-shadow);
    margin: 2rem 0;
    border-radius: var(--main-border-radius);
    position: relative;
    img {
      display: block;
      width: 12rem;
      height: 12rem;
      border-radius: var(--round-border-radius);
      border: var(--main-border);
      box-shadow: 8px -2px 37px -17px #000000;
      float: left;
      shape-outside: circle(50%);
      margin: 0 1rem;
      outline: 2px solid var(--background-color);
    }
    .presentation-title {
      font-size: var(--secondary-title-size);
    }
    .presentation-button {
      background: var(--main-color-opacity);
      background-size: cover;
      border: none;
      border-radius: var(--main-border-radius);
      height: clamp(13rem, 20vw, 17rem);
      position: relative;
      width: 10%;
      margin: 0;
      color: rgba(137, 96, 142, 0);
      cursor: pointer;
      box-shadow: -7px 0px 7px -2px rgba(0, 0, 0, 0.68);
      text-decoration: underline;
      transition: all 1s ease;
      font-size: var(--paragraph-size);
      &:hover,
      &:active {
        width: 30%;
        position: absolute;
        background-color: var(--main-color);
        right: 0;
        font-size: var(--paragraph-size-big);
        color: var(--background-color-opacity);
        box-shadow: -7px 0px 7px -2px rgba(0, 0, 0, 0.68);
      }
    }
  }
  .title-home {
    margin: 20rem auto 2rem auto;
  }
}

@media (max-width: 576px) {
  .home-welcome {
    .presentation {
      flex-direction: column;
      position: relative;
      height: 30rem;
      img {
        margin: 1rem 0 0 0;
      }
      .presentation-personal-information {
        margin: 1rem;
      }
      .presentation-button {
        height: 4rem;
        width: 100%;
        border-radius: var(--main-border-radius);
        box-shadow: -1px -3px 5px 0px rgba(0, 0, 0, 0.68);
        transition: all 0.3s ease;
        color: var(--background-color-opacity);
        &:hover,
        &:active {
          width: 100%;
          background-color: var(--main-color);
          border-radius: var(--main-border-radius);
          position: absolute;
          height: 6rem;
          right: 0;
          left: 0;
          bottom: 0;
          box-shadow: -1px -3px 5px 0px rgba(0, 0, 0, 0.68);
        }
      }
    }
  }
}
.home-avatar-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50%;
}
