.home-welcome {
  .welcome {
    margin: 3rem 0 5rem 0;
    font-size: var(--paragraph-size-big);
    text-align: center;
    .modify-button {
      width: 20%;
      margin-left: 40%;
    }
  }
  .welcome-admin {
    font-size: var(--paragraph-size-big);
    margin: 1rem 0;
  }
  .presentation {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: clamp(12rem, 20vw, 17rem);
    box-shadow: var(--box-shadow);
    margin: 2rem 0;
    border-radius: var(--main-border-radius);
    position: relative;
    img {
      display: block;
      width: clamp(10rem 15vw 12rem);
      height: 12rem;
      border-radius: var(--round-border-radius);
      border: var(--main-border);
      box-shadow: 8px -2px 37px -17px #000000;
      float: left;
      shape-outside: circle(50%);
      margin: 0 1rem;
      outline: 2px solid var(--background-color);
    }
    .presentation-personal-information {
      margin: 0 6% 0 0;
      .presentation-title {
        font-size: var(--secondary-title-size);
      }
    }
    .presentation-button {
      background: var(--main-color-opacity);
      border: none;
      border-radius: var(--main-border-radius);
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 5%;
      margin: 0;
      cursor: pointer;
      box-shadow: -7px 0px 7px -2px rgba(0, 0, 0, 0.68);
      transition: all 0.7s ease;
      .button-presentation-text {
        font-size: var(--paragraph-size-big);
        color: rgb(229, 239, 248);
        opacity: 0;
        transition: opacity 0.3s ease;
        transition-delay: -0.3s;
      }
      .right-arrow {
        width: 50%;
        box-shadow: none;
        outline: none;
        border: none;
      }
      &:hover,
      &:active {
        width: 15%;
        position: absolute;
        background-color: var(--main-color);
        right: 0;
        font-size: var(--paragraph-size-big);
        color: var(--background-color-opacity);
        box-shadow: -7px 0px 7px -2px rgba(0, 0, 0, 0.68);
      }
      &:hover .right-arrow,
      &:active .right-arrow {
        display: none;
      }
      &:hover .button-presentation-text,
      &:active .button-presentation-text {
        opacity: 1;
        text-decoration: underline;
        transition-delay: 0.4s;
      }
    }
    .home-avatar-admin {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 50%;
    }
  }
  .title-home {
    margin: 20rem auto 2rem auto;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 200;
    gap: 2rem;
    width: 20%;
    .about-info-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      .avatar-picture {
        display: block;
        width: 80%;
        border-radius: var(--round-border-radius);
        border: var(--main-border);
        box-shadow: 8px -2px 37px -17px #000000;
        float: left;
        shape-outside: circle(50%);
        margin: 0 1rem;
        outline: 2px solid var(--background-color);
      }
    }
    .about-info-contact {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 1rem;
      button {
        width: 100%;
      }
      .social-network {
        display: flex;
        gap: 2rem;
        a {
          transition: transform 0.5s ease;
          img {
            width: 2rem;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .about-description {
    flex-grow: 2;
    flex-basis: 400;
    width: 75%;
  }
}

/* Smartphone */
@media (max-width: 576px) {
  .home-welcome {
    .presentation {
      flex-direction: column;
      position: relative;
      min-height: 30rem;
      img {
        margin: 1rem 0 0 0;
      }
      .presentation-personal-information {
        margin: 0 1rem 3rem 1rem;
      }
      .presentation-button {
        height: 2rem;
        width: 100%;
        border-radius: var(--main-border-radius);
        box-shadow: -1px -3px 5px 0px rgba(0, 0, 0, 0.68);
        transition: all 0.3s ease;
        top: auto;
        bottom: 0;
        color: var(--background-color-opacity);
        &:hover,
        &:active {
          width: 100%;
          background-color: var(--main-color);
          border-radius: var(--main-border-radius);
          height: 6rem;
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          box-shadow: -1px -3px 5px 0px rgba(0, 0, 0, 0.68);
        }
      }
    }
  }
  .about {
    .about-info {
      flex-direction: column;
      .about-info-avatar {
        img {
          width: 50%;
        }
      }
    }
  }
}

/* Tablette */
@media (min-width: 577px) and (max-width: 914px) {
  .about {
    .about-info {
      flex-wrap: wrap;
      flex-direction: row;
      .about-info-avatar {
        flex-grow: 2;
        width: 40%;
        img {
          width: 55%;
        }
      }
      .about-info-contact {
        flex-grow: 2;
        width: 40%;
      }
    }
    .about-description {
      width: 100%;
    }
  }
}
