footer {
  padding: 2rem;
  height: 8rem;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  box-shadow: 8px 10px 22px 0px #000000;
  margin-top: 5rem;
  section {
    flex-grow: 1;
    flex-basis: 29%;
  }
  .footer-contact {
    display: flex;
    justify-content: center;
  }
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    .arrow-up-button {
      font-size: 2rem;
      transition: transform 0.5s ease;
    }
    .arrow-up-button:hover {
      transform: scale(1.4);
    }
  }
}

@media (max-width: 914px) {
  footer {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 0;
    section {
      flex-basis: 28rem;
    }
    .footer-contact {
      display: none;
    }
  }
}
